body {
    background-color: #fc6c64;
    font-family:  STEINEM;
}
#content {
    position: relative;
    width: inherit;
    height: inherit;
    margin-top: 10%;
}
#results {
    background: #FFFFFF;
    height: 60%; 
    width: 85%;
    left: 15%;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 75px;
}
.info{
    padding: 4%;
    font-size: 3.8vmin;
}

input{
    height: 15%;
    width: 30%;
    border-radius: 75px;
    margin-left: 30%;
    background-color: #fc6c64;
    font-size: 3vmin;
    border-style: solid;
}

input:active{
    color: white;
    border-style: none;
    border-color: gray;
}
