@(errors: java.util.ArrayList[String])

<html>
    <header>
        <title>Laker Books</title>
                <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/error.css">
    </header>
    <body>
        <div id="content">
            <div id="logo"></div>
                    <div id="results">
                        <div class="info">
                            @for(error <- errors){
                                <p>@error</p>
                            }
                        <br>
                        <form action='@routes.Application.reputInfo()' method="GET">
                        <input type="submit" value="Retry"></input>
                        </form>
                        </div>
                </div>
        </div>
    </body>
</html>
