@(error_message: String)

<!DOCTYPE>
<html>
    <header>
        <title>Laker Books</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/error.css">
        <script type="text/javascript" src="/public/javascripts/jquery-2.1.4.js"></script>
        <script type="text/javascript">
            jQuery('body').css('display','none');
            jQuery(document).ready(function() {
              jQuery('body').fadeIn();
           });
        </script>
    </header>
    <body>
        <div id="logo" style="margin-left:1%; margin-top:1%;"><a href="http://localhost:9000">Laker Books</a></div>
        <div id="content">
            <div class="buttons">
                <form action='@routes.Application.index()' method="GET">
                    <p style="width:80%; margin: auto; font-size:22px;">@error_message</p>
                    <p><button class="btn btn-4 btn-4a" id="home">Try Again</button></p>
                </form>
            </div>
        </div>
    </body>
</html>
