@(action: Integer)

<!DOCTYPE>
<html>
    <header>
        <title>Laker Books</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/home.css">
        <script type="text/javascript" src="/public/javascripts/jquery-2.1.4.js"></script>
        <script type="text/javascript">
            jQuery('body').css('display','none');
            jQuery(document).ready(function() {
              jQuery('body').fadeIn();
              jQuery('#buy').on('click',function(event){
                 var thetarget = this.getAttribute('target')
                 if (thetarget != "_blank"){            
                    event.preventDefault();
                    jQuery('#content').fadeOut(500);
                    jQuery('#search').fadeIn(2000);
                 }
              })
              jQuery('#sell').on('click',function(event){
                 var thetarget = this.getAttribute('target')
                 if (thetarget != "_blank"){            
                    event.preventDefault();
                    jQuery('#content').fadeOut(500);
                    jQuery('#sellItem').fadeIn(2000);
                 }     
              });
           });
        </script>
    </header>
    <body>
        @if(action>0){
            <div class="alert alert-success" id="success-alert" style="position:absolute; width: 30%; left: 35%; text-align:center;">
                <strong>Success! </strong>
                @if(action==1){
                    You have purchased the textbook.
                }else{
                    You have posted your textbook online.
                }
            </div>
        }

        <div id="how"><a href="#basicModal" data-toggle="modal">How It Works</a></div>
        <div id="basicModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">How Laker Books Works</h4>
                    </div>
                    <div class="modal-body">
                        <p><b>For Buyers:</b><br>
                            Once you have found a textbook you are interested in and you click “Buy”, you and the seller will be put into contact through email. No transactions happen through the website so it will be up to you to decide where to meet and exchange the textbook for the price listed. </p>
                        <p><b>For Sellers:</b><br>
                            Once you have posted the textbook on the website, anyone searching for that book will be able to see it. When a person has decided to buy the textbook, you will be notified through email by the individual. The textbook will automatically be taken down from the website once someone has agreed to buy the book. </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Got It</button>
                    </div>
                </div>
            </div>
        </div>


        <div id="logo" style="margin-left:1%; margin-top:1%;"><a href="http://localhost:9000">Laker Books</a></div>


        <div id="content">
            <div class="buttons">
                <p><button class="btn btn-4 btn-4a" id="buy" onClick="#">Buy Textbook</button>
                </p>
                <p><button class="btn btn-4 btn-4a" id="sell" onClick="#">Sell Textbook</button></p>
            </div>
        </div>
        <div style="display:none;" id="search" class="container-fluid container-table">
            <div class="row vertical-center-row">
                <div class="col-xs-12">
                    <div class="row" style="height:50%;">
                        <form class="flexsearch--form" action='@routes.Application.showResults()' method="GET">
                        <div class="col-md-8 col-md-push-2 col-xs-10 col-xs-push-1"> 
                            <input class="flexsearch--input" name="input" type="search" placeholder="Enter Textbook Title or ISBN" style="color:#FFFFFF"/>
                        </div>
                        <div class="col-xs-1 col-md-push-1 col-xs-pull-1">
                        <input class="flexsearch--submit" type="submit" value="&#10140;"/>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="sellItem" class="container-fluid container-table" style="display:none;">
            <div class="row vertical-center-row">
                <div class="col-xs-12">
                    <div class="row">
                        <form class="flexsearch--form" action='@routes.Application.sellItem()' method="GET">
                        <div class="col-md-8 col-md-push-2 col-xs-10 col-xs-push-1"> 
                            <input class="flexsearch--input" name="input" type="search" placeholder="Enter Textbook Title or ISBN" style="color:#FFFFFF"/>
                        </div>
                        <div class="col-xs-1 col-md-push-1 col-xs-pull-1">
                        <input class="flexsearch--submit" type="submit" value="&#10140;" style="margin-top:3px;"/>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
            $("#success-alert").alert('close');
        });</script>
    </body>
</html>
