@(newbook: bookObject)

<html>
    <header>
        <title>Laker Books</title>
                <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/sell.css">
    </header>
    <body>
        <div id="content">
            <div id="logo"></div>
                    <div id="results">
                        <div class="picture">
                            <img src="@newbook.imageURL" />
                        </div>
                        <div class="info">
                            <form class="bookdetails" action='@routes.Application.postItem()' method="GET">
                                @if(newbook.title==null){
                                    <input name="input" class="textf" placeholder="Title"></input>
                                }else{
                                    <p class="entered" style="font-size:4vmin;"><b>@newbook.title</b></p>
                                }
                                @if(newbook.authors==null){
                                    <input name="input" class="textf" placeholder="Authors"></input>
                                }else{
                                    <p  class="entered">Authors: @newbook.authors</p>
                                }
                                @if(newbook.edition==null){
                                    <input name="input" class="textf" placeholder="Edition"></input>
                                }else{
                                    <p  class="entered">Edition: @newbook.edition</p>
                                }
                                @if(newbook.isbn13==null){
                                    <input name="input" class="textf" placeholder="ISBN-13"></input>
                                }else{
                                    <p class="entered">ISBN-13: @newbook.isbn13</p>
                                }
                                @if(newbook.isbn10==null){
                                    <input name="input" class="textf" placeholder="ISBN-10"></input>
                                }else{
                                    <p class="entered">ISBN-10: @newbook.isbn10</p>
                                }
                                <br>
                                <input name=condition type=radio value=new>New      
                                <input style="margin-left:4%;" name=condition type=radio value=used>Used
                                <input style="margin-bottom: 3%; margin-left: 4%;" name=condition type=radio value=torn>Torn Apart
                                <input name=price class="textf" placeholder="Price"></input>
                                <input name=email class="textf" placeholder="Seller Oswego Email"></input>
                                <input id="postbutton" type="submit" value="Post Item"/>
                            </form>
                        </div>
                </div>
        </div>
    </body>
</html>
