@(newbook: bookObject)

<html>
    <header>
        <title>Laker Books</title>
                <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/sell.css">
    <body>
        <div id="content">
            <div id="logo"></div>
                    <div id="results">
                        <div class="picture">
                            <img src="@newbook.imageURL" />
                        </div>
                        <div class="info">
                            <form class="bookdetails" action='@routes.Application.sellItem()' method="GET">
                                @if(newbook.title==null){
                                    <input name="input" placeholder="Title"></input>
                                }else{
                                    <p class="entered" style="font-size:4vmin;"><b>@newbook.title</b></p>
                                }
                                @if(newbook.authors==null){
                                    <input name="input" placeholder="Authors"></input>
                                }else{
                                    <p class="entered">Authors: @newbook.authors</p>
                                }
                                @if(newbook.edition==null){
                                    <input name="input" placeholder="Edition"></input>
                                }else{
                                    <input name="input" style="border: none;" value="Edition: @newbook.edition"></input>
                                }
                                @if(newbook.isbn13==null){
                                    <input name="input" placeholder="ISBN-13"></input>
                                }else{
                                    <input name="input" style="border: none;" value="ISBN-13: @newbook.isbn13"></input>
                                }
                                @if(newbook.title==null){
                                    <input name="input" placeholder="ISBN-10"></input>
                                }else{
                                    <input name="input" style="border: none;" value="ISBN-10: @newbook.isbn10"></input>
                                }
                                <input name="input" placeholder="Condition"></input>
                                <input name="input" placeholder="Price"></input>
                                <input name="input" placeholder="Seller Oswego Email"></input>
                                <input id="postbutton" type="submit" value="Post Item"/>
                            </form>
                        </div>
                </div>
        </div>
    </body>
</html>